@{
    ViewData["Title"] = "Calendar";
}

<h1>Calendar</h1>

<div class="container-fluid">
    <div id="calendar-window" class="calendar row">
        <div class="calendar-window card text-center col-md-9 col-sm-12 align-self-center">
            <div class="month card-header d-flex flex-row justify-content-between align-items-center">
                <i class="fas fa-angle-left prev"></i>
                <div class="date">
                    <h4 class="card-title"></h4>
                    <p></p>
                </div>
                <i class="fas fa-angle-right next"></i>
            </div>
            <div class="week-days">
                <div class="border-secondary border">Пн</div>
                <div class="border-secondary border">Вт</div>
                <div class="border-secondary border">Ср</div>
                <div class="border-secondary border">Чт</div>
                <div class="border-secondary border">Пт</div>
                <div class="border-secondary border">Сб</div>
                <div class="border-secondary border">Вс</div>
            </div>
            <div class="days">

            </div>
        </div>
    </div>
</div>

<script src="js/calendar-script.js"></script>