.month i {
    font-size: 2rem;
    cursor: pointer;
}

.week-days {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
}

.days {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

    .days div, .week-days div {
        height: 100%;
    }

        .days div .day-num {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            font-weight: 600;
            margin: 2px 2px 0 0;
        }

    .days div {
        cursor: pointer;
    }

        .days div:hover:not(.today) {
            background-color: #ddd;
        }

.prev-date, .next-days {
    opacity: 0.5;
}

.today {
    background-color: #ccc;
}
