* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 100%;
	width: 100%;
}

header nav {
	background-color: #a0d2eb;
}

.box-of-windows {
	background-color: #e5eaf5!important;
}

.calendar {
	height: 100%;
	width: 100vw;
}

.calendar-window {
	margin: 0 auto;
	height: 100%;
	width: 100vw;
	background-color: #e5eaf5 !important;
}

.list-items-class {
	overflow-y: auto; 
}
/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
