* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	height: 100%;
	width: 100%;
}

.navbar {
	background-color: #a0d2eb!important;
}

.navbar .nav-item:hover{
	background-color: #e5eaf5;
	border-radius: 30%;
}

.box-of-windows {
	background-color: #494d5f;
}

.list-of-employee, .add-new-employee, .calendar {
	height: 100%;
}

.list-card, .calendar-window {
	max-height: 100vh;
}

.card-header {
	background-color: #e5eaf5 !important;
}

.add-card-form, .list-card, .calendar-window {
	margin: 0 auto;
	background-color: #e5eaf5 !important;
}

/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
