<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - empData</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/calendar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    
</head>
<body>
    <div class="modal fade" id="modal-window">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Список сотрудников, работающих в этот день:</h4>
                </div>
                <div class="modal-body">
                    <div class="list-items-class">
                        <ul class="list-group">
                            <li class="list-group-item d-flex align-items-center justify-content-between">Cras justo odio<span class="badge badge-success badge-pill">7-18</span></li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">Dapibus ac facilisis in<span class="badge badge-primary badge-pill">18-20</span></li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">Morbi leo risus<span class="badge badge-warning badge-pill">Отгул</span></li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">Porta ac consectetur ac<span class="badge badge-danger badge-pill">Прогул</span></li>
                            <li class="list-group-item d-flex align-items-center justify-content-between">Vestibulum at eros<span class="badge badge-info badge-pill">Отпуск</span></li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">empData</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="EntryTypes" asp-action="Index">Типы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Index">Календарь</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>



    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @RenderSection("Scripts", false)
</body>
</html>

